@page "/"

@using System.Timers;
@using ProjectLevel.Contracts.v1
@using ProjectLevel.Contracts.v1.Interfaces
@using ProjectLevel.Contracts.v1.Models
@using ProjectLevel.Services.v1.Implementations
@inject ProjectLevel.Contracts.v1.Interfaces.IGame game
@inject ProjectLevel.Services.v1.Implementations.CommandManager commandManager

<PageTitle>Index</PageTitle>

<h1>Hello, from Project Level!</h1>

Your current Civilization info:
<br />
<hr />

Gold: <label id="lblGold">@game.GetGold()</label>
<br />
Gold Income Rate: <label id="lblGoldLevel">@game.GetGoldIncomeRate()</label>
<br />
Gold Action: <progress id="progGold" value="@game.GetGoldActionBarValue()" max="@Constants.ActionBarMax"></progress>
<br />
<button class="btn btn-primary" @onclick="UpgradeGoldLevel" disabled="@ShouldButtonBeClickable(game.CanUpgradeGoldLevel)">Upgrade Economy!</button>
<br />
<hr />

Melee Unit Count: <label id="lblMeleeUnitCount">@game.GetMilitaryUnitCount(Constants.MilitaryType.Melee)</label>
<br />
Melee Level: <label id="lblMeleeLevel">@game.GetMilitaryLevel(Constants.MilitaryType.Melee)</label>
<br />
Melee Damage: <label id="lblMeleeDamage">@game.GetMilitaryDamage(Constants.MilitaryType.Melee)</label>
<br />
Melee Action: <progress id="progMelee" value="@game.GetMilitaryActionBarValue(Constants.MilitaryType.Melee)" max="@Constants.ActionBarMax"></progress>
<br />
<button class="btn btn-primary" @onclick="@(_ => UpgradeMilitaryLevel(Constants.MilitaryType.Melee))" disabled="@ShouldButtonBeClickable(() => game.CanUpgradeMilitaryLevel(Constants.MilitaryType.Melee))">Upgrade Melee!</button>
<br />
<hr />

Ranged Unit Count: <label id="lblRangedUnitCount">@game.GetMilitaryUnitCount(Constants.MilitaryType.Ranged)</label>
<br />
Ranged Level: <label id="lblRangedLevel">@game.GetMilitaryLevel(Constants.MilitaryType.Ranged)</label>
<br />
Ranged Damage: <label id="lblRangedDamage">@game.GetMilitaryDamage(Constants.MilitaryType.Ranged)</label>
<br />
Ranged Action: <progress id="progRanged" value="@game.GetMilitaryActionBarValue(Constants.MilitaryType.Ranged)" max="@Constants.ActionBarMax"></progress>
<br />
<button class="btn btn-primary" @onclick="@(_ => UpgradeMilitaryLevel(Constants.MilitaryType.Ranged))" disabled="@ShouldButtonBeClickable(() => game.CanUpgradeMilitaryLevel(Constants.MilitaryType.Ranged))">Upgrade Ranged!</button>
<br />
<hr />

Siege Unit Count: <label id="lblSiegeUnitCount">@game.GetMilitaryUnitCount(Constants.MilitaryType.Siege)</label>
<br />
Siege Level: <label id="lblSiegeLevel">@game.GetMilitaryLevel(Constants.MilitaryType.Siege)</label>
<br />
Siege Damage: <label id="lblSiegeDamage">@game.GetMilitaryDamage(Constants.MilitaryType.Siege)</label>
<br />
Siege Action: <progress id="progSiege" value="@game.GetMilitaryActionBarValue(Constants.MilitaryType.Siege)" max="@Constants.ActionBarMax"></progress>
<br />
<button class="btn btn-primary" @onclick="@(_ => UpgradeMilitaryLevel(Constants.MilitaryType.Siege))" disabled="@ShouldButtonBeClickable(() => game.CanUpgradeMilitaryLevel(Constants.MilitaryType.Siege))">Upgrade Siege!</button>
<br />
<hr />




@code {

    private void UpgradeGoldLevel()
    {
        CommandUpgradeGoldLevel command = new CommandUpgradeGoldLevel(game);
        commandManager.Invoke(command);
    }

    private void UpgradeMilitaryLevel(Constants.MilitaryType militaryType)
    {
        CommandUpgradeMilitaryLevel command = new CommandUpgradeMilitaryLevel(game, militaryType);
        commandManager.Invoke(command);
    }

    private bool ShouldButtonBeClickable(Func<bool> func)
    {
        return !func.Invoke();
    }

    Timer timer;

    protected override void OnInitialized()
    {
        timer = new Timer();
        timer.Interval = 100;
        timer.Elapsed += TimerOnElapsed;
        timer.Start();
    }

    private void TimerOnElapsed(object sender, ElapsedEventArgs e)
    {
        base.InvokeAsync(StateHasChanged);

        game.TriggerAllActionBars();
    }

    public void Dispose()
    {
        timer.Dispose();
    }
}